

ion-list {
  background-color: transparent;

  ion-item {
    --background: transparent;
    --border-style: none;

    --padding-end: 0px;
    --inner-padding-end: 0px;

  }
}

ion-card-subtitle {
  font-weight: 400;
}


