<ion-header>
  <ion-toolbar color="primary" >
    <ion-title class="ion-no-padding">{{workshop.title}}</ion-title>
    <ion-buttons slot="start">
      <Ion-menu-button ></Ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title >{{ workshop.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let l of workshop.lessons" class="ion-activatable ripple-parent" (click)="navigate(workshop.id, l.id)">
      <ion-card-content>

        <ion-card-title>{{ l.nombre }}</ion-card-title>  
        <ion-item class="ion-no-padding">
          <ion-icon name="play" color="secondary"></ion-icon>
        </ion-item>

      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-list>
</ion-content>
